body {
  font-family: 'Quicksand', sans-serif;
  background-color: #cfcbc1;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1.25rem;
}

.cuisine {
  font-size: 3rem;
  font-family: 'Aclonica', sans-serif; 
}

.logo {
  display: flex;
  justify-content: center;
}

.white {
  color: #f1ebe5;
}

.tan  {
  color: #ffcb7d;
}

.tan_bg  {
  background-color: #ffcb7d;
}

.light_brown  {
  color: #9d581f;
}

.light_brown_bg  {
  background-color: #9d581f;
}

.dark_brown  {
  color: #6a3416;
}

.yellow  {
  color: #dda023;
}

.rust_red  {
  color: #b65037;
}

.green  {
  background-color: #556b2f;
}

.pink_bg  {
  background-color: #ff69b4;
}

.spacing {
  height: 100px;
}

.splashSpacingTop {
  height: 70vh;
}

.splashSpacingBottom {
  height: 30vh;
}

.btn-primary {
  color: #fffffa;
  background-color: #b65037;
  border-color: #ffcb7d; /*set the color you want here*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #7e7d7a;
  background-color: #7e7d7a;
  border-color: #b65037; /*set the color you want here*/
}

.btn-secondary {
  color: #fffffa;
  background-color: #CC5500;
  border-color: #ffcb7d; /*set the color you want here*/
}

.btn-secondary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #7e7d7a;
  background-color: #7e7d7a;
  border-color: #CC5500; /*set the color you want here*/
}

.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
}

.link-color {
  color: #b65037;
  text-decoration: none;
}

.link-color:hover {
  color: #7e7d7a;
  text-decoration: none;
}

.extra-rounded {
  border-radius: 20px;
}

.favorite-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuisine-box {
  position: relative;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  /* width: 45vw; */
  align-items: center;
}

.recipe-image {
  height: 200px;
  border-radius: 15px;
  margin: 10px;
}

.recipe-info {
  display: flex;
  flex: 1 1 150px;
  flex-direction: column;
  margin: 5px 15px;
}

.reject-recipe-svg {
  position: absolute;
  width: 70px;
  bottom: 5px;
  right: 5px;
}